:root {
    --accent-primary: #004376;
    --accent-secondary: #002948;
    --body-text-primary: #475D88;
    --body-text-secondary: #34425C;
    --body-text-tertiary: #7A7A7A;
    --nav-link-text: #4F4F4F;
    --surface-primary: #ECECEC;
    --surface-secondary: #CECECE;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    background: var(--body-text-tertiary);
}

body {
    font-family: "Red hat text";
}

.nav-bar {
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid transparent;
    background: transparent;

    transition: background-color 200ms ease,
        border 200ms ease;

    &:has(.open),
    &.scrolled {
        background: #fff;
        border-bottom: 1px solid var(--surface-secondary);
    }
    
    .logo {
        img {
            height: 36px;
        }
    }

    .menu-btn {
        display: none;
    }

    .links-container {
        display: block;
        opacity: 1;
    }

    .links {
        display: flex;
        gap: 32px;
        font-family: 'Red hat text';
        font-weight: 500;

        .link {
            position: relative;
            list-style: none;

            &:has(.sub-menu):focus-within .sub-menu {
                display: block;
                background: #0f0;
            }

            .sub-menu {
                display: none;
                right: -24px;
                top: calc(68px - 100%);
                width: auto;
                position: absolute;
                
                ul {
                    list-style: none;
                    background: #fff;
                    outline: 1px solid var(--surface-primary);

                    li {
                        &:has(.product-list):focus-within {
                            & > a {
                                color: var(--accent-secondary);
                            }

                            .product-list {
                                display: block;
                            }
                        }

                        a {
                            display: block;
                            padding: 16px 24px;
                            text-wrap: nowrap;
                        }

                        .product-list {
                            display: none;
                            position: absolute;
                            top: 0;
                            right: 100%;
                        }

                        &:nth-child(2) .product-list {
                            top: 33%;
                        }

                        &:nth-child(3) .product-list {
                            top: 66%;
                        }
                    }

                }
            }
        }
        
        a {
            text-decoration: none;
            color: var(--nav-link-text);
            transition: 100ms ease;

            &.active {
                position: relative;
                font-weight: 700;
                opacity: 1;
                color: var(--accent-secondary);

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: var(--accent-secondary);
                    bottom: -2px;
                }
            }

            &:hover {
                color: var(--accent-secondary);
            }
        }

        a[tabindex="0"]:hover {
            cursor: pointer;
        }
    }
}


footer {
    display: flex;
    justify-content: center;
    padding: 36px 0;
    background: #e9e9e9;

    .content {
        display: flex;
        gap: 36px;
        margin-bottom: 70px;
        width: 60%;

        .col {
            flex: 1;
            
            h2 {
                font-size: 20px;
                font-weight: 700;
                color: var(--accent-primary);
            }

            .links {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                gap: 16px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    opacity: .75;
                    font-weight: 500;
                    color: #4F4F4F;
                    text-decoration: none;

                    .icon {
                        height: 24px;
                        width: 24px;
                        /* background: #ccc; */

                        svg {
                            scale: .8;
                        }
                    }

                    &:hover {
                        opacity: 1;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (width < 768px) {
    .menu-btn {
        display: block !important;
        position: absolute;
        right: 48px;

        svg {
            scale: 1.5;
            fill: var(--accent-primary);
        }
    }

    .logo {
        translate: -12px 0;
    }

    .nav-bar{
        .links-container {
            position: absolute;
            z-index: 99;
            width: 100%;
            max-height: calc(100vh - 72px);
            overflow-y: scroll;
            right: 0;
            top: 72px;
            display: none;
            opacity: 0;
            border-bottom: 1px solid var(--surface-secondary);
            background: #fff;

            transition: opacity 200ms ease;
            
            .links {
                width: 100%;
                gap: 0;
                flex-direction: column;

                .link {
                    &:has(.sub-menu):focus-within .sub-menu {
                        height: auto;
                    }

                    .sub-menu {
                        display: block;
                        position: initial;
                        height: 0;
                        overflow: hidden;

                        ul li {
                            a {
                                padding-inline: 48px;
                            }

                            &:has(.product-list):focus-within .product-list {
                                height: auto;
                            }

                            .product-list {
                                display: block;
                                position: relative;
                                left: 0;
                                height: 0;
                                overflow: hidden;

                                ul li a {
                                    padding-inline: 64px;
                                }
                            }
                        }
                    }

                    a {
                        font-size: 18px;
                        display: block;
                        padding: 20px 32px;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #e7e7e7;
                    }
                }

                a.active::after {
                    display: none;
                }
            }

            &.open {
                display: flex;
                opacity: 1;
            }
        }
    }

    footer {
        .content {
            flex-direction: column;
        }
    }
}