.product-container {
    min-height: calc(100vh - 72px);
    margin-top: 72px;
    padding-inline: 128px;
    padding-top: 96px;
    margin-bottom: 48px;
    display: flex;
    gap: 36px;

    .image {
        flex: 2;

        img {
            width: 100%;
            aspect-ratio: 16 / 9;
            display: block;
            border-radius: 12px;
            background: #d6d6d6;
        }
    }

    .description {
        flex: 3;

        h1 {
            margin-bottom: 24px;
        }

        .product-abstract {
            font-size: 18px;
            color: var(--body-text-secondary);
        }

        h2 {
            margin-top: 18px;
        }

        ul {
            margin-top: 8px;
            margin-left: 24px;

            li {
                line-height: 175%;
                color: var(--body-text-secondary);
            }
        }
    }
}

@media (width < 768px) {
    .product-container {
        margin-top: 36px;
        padding-inline: 48px;
        flex-direction: column;
    }
}