:root {
    --accent-primary: #004376;
    --accent-secondary: #002948;
    --body-text-primary: #475D88;
    --body-text-secondary: #34425C;
    --body-text-tertiary: #7A7A7A;
    --nav-link-text: #4F4F4F;
    --surface-primary: #ECECEC;
    --surface-secondary: #CECECE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #fff;
    background: var(--body-text-tertiary);
}

body {
    min-height: 200vh;
    font-family: "Red hat text";
}

.nav-bar {
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid transparent;
    background: transparent;

    transition: background-color 200ms ease,
        border 200ms ease;

    &:has(.open),
    &.scrolled {
        background: #fff;
        border-bottom: 1px solid var(--surface-secondary);
    }
    
    .logo {
        img {
            height: 36px;
        }
    }

    .menu-btn {
        display: none;
    }

    .links-container {
        display: block;
        opacity: 1;
    }

    .links {
        display: flex;
        gap: 32px;
        font-family: 'Red hat text';
        font-weight: 500;
        
        a {
            text-decoration: none;
            color: var(--nav-link-text);
            transition: 100ms ease;

            &.active {
                position: relative;
                font-weight: 700;
                opacity: 1;
                color: var(--accent-secondary);

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: var(--accent-secondary);
                    bottom: -2px;
                }
            }

            &:hover {
                color: var(--accent-secondary);
            }
        }
    }
}

.hero {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("img/stone-crusher.jpg");
    background-size: cover;
    background-position: center;

    h1 {
        font-family: "Red hat display";
        font-weight: 1000;
        font-size: 80px;
        color: #2f2f2f;
    }

    p {
        width: 50%;
        margin-top: 16px;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        color: #555555;
    }

    a {
        position: relative;
        margin-top: 64px;
        color: var(--accent-secondary);
        font-size: 22px;
        text-decoration: none;
        font-weight: 500;

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 100%;
            background: var(--accent-secondary);
            bottom: -2px;
        }
    }
}

section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 48px;
        font-size: 36px;
        background: linear-gradient(to right, var(--accent-primary), var(--accent-secondary));
        background-clip: text;
        color: transparent;
    }
}

.services {
    .service-card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        width: 80%;

        .service-card {
            display: flex;
            flex-direction: column;
            max-width: calc(33% - 40px);
            
            .image {
                height: 200px;
                width: 100%;
                border-radius: 24px;
                background: var(--surface-primary);
            }

            .text {
                margin-top: 16px;
                margin-left: 4px;

                h2 {
                    font-size: 22px;
                    color: var(--body-text-primary);
                }

                p {
                    font-size: 16px;
                    font-weight: 500;
                    opacity: .7;
                    margin-top: 4px;
                    color: var(--body-text-secondary);
                }
            }

            .btn {
                margin-top: 20px;

                a {
                    display: inline-block;
                    padding: 12px 32px;
                    text-decoration: none;
                    border-radius: 50px;
                    font-weight: 500;
                    font-size: 14px;
                    color: #fff;
                    background: var(--body-text-primary);
                }
            }
        }
    }
}

@media (width < 768px) {
    .menu-btn {
        display: block !important;
        position: absolute;
        right: 48px;

        svg {
            scale: 1.5;
            fill: var(--accent-primary);
        }
    }

    .logo {
        translate: -12px 0;
    }

    .nav-bar{
        .links-container {
            position: absolute;
            z-index: 99;
            width: 100%;
            right: 0;
            top: 72px;
            display: none;
            opacity: 0;
            border-bottom: 1px solid var(--surface-secondary);
            background: #fff;

            transition: opacity 200ms ease;
            
            .links {
                width: 100%;
                gap: 0;
                flex-direction: column;

                a {
                    font-size: 18px;
                    padding: 20px 32px;
                    
                    &:not(:last-child) {
                        border-bottom: 1px solid #e7e7e7;
                    }
                }

                a.active::after {
                    display: none;
                }
            }

            &.open {
                display: flex;
                opacity: 1;
            }
        }
    }

    .hero {
        h1 {
            font-size: 58px;
            text-align: center;
        }

        p {
            width: 70%;
        }
    }

    .services {
        .service-card-container {
            width: 70%;
            flex-direction: column;

            .service-card {
                max-width: 100%;
            }
        }
    }
}